body {background-color: black;}
@font-face {font-family: 'font1'; src: url(font1.ttf);}
@font-face {font-family: 'font2'; src: url(font2.ttf);}
#titolo {color: white; font-family: font1; text-align: center; font-size: 50px;}
#desc {color: white; font-family: font2; font-size: 18px; text-align: center;}
#pack {text-align: center; color: white; width: 720px; transition: .5 ease;}
#pack:hover {box-shadow: 0 0 0 10px darkgray; transition: .5s ease;}
#social {word-spacing: 18px;} 
a {color: white;}
#pplogo {transition: 1s ease; width: 120px;}
#ver {font-size: 20px;}
p {color: white; text-align: center; transition: 1s ease;}
#sfondo {background-image: url('logo.jpg'); background-size: 20%;}
#special {text-align: center; color: white;}
p:hover {-webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); transition: .4s ease;}
#pplogo:hover {-webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); transition: .4s ease;}


@media (max-width:730px) {
    #abbonamenti {width: 450px; font-size: 15px;}
    #pack {width: 450px; font-size: 15px;}
    #desc {font-size: 14px;}
    #sfondo {background-image: url('logo.jpg'); background-size: 20%; height: 80px;}
}

@media (max-width: 530px) {
    #abbonamenti {font-size: 12.5px; width: 200px;}
    #pack {font-size: 14px; width: 390px;}
    #pplogo {width: 78px;}
    #titolo {font-size: 30px;}
    #ver {font-size: 14px;}
}

@media (max-width:414px) {
    #back {background-size: 25%; height: 50px;}
    #abbonamenti {font-size: 7px; width: 70px;}
    #pack {font-size: 12.5px; width: 290px; height: 200px;}
    #pplogo {width: 70px;}
    #desc {font-size: 10px;}
    #sfondo {background-image: url('logo.jpg'); background-size: 20%; height: 50px;}
    #social {word-spacing: 18px; font-size: 10.5px;}
    #special {text-align: center; color: white; width: 200px; font-size: 12.5px;} 
}

@media (max-width: 292px) {
    #abbonamenti {font-size: 7px; width: 60px;}
    #pack {font-size: 10px; width: 222px;}
    #pplogo {width: 55px;}
    #sfondo {background-image: url('logo.jpg'); background-size: 20%; height: 30px;}
    #desc {font-size: 8px;}
    #titolo {font-size: 23px;}
    #ver {font-size: 12px;}
}

@media (max-width:239px) {
    #pplogo {width: 40px;}
    #ver {font-size: 10px;}
    #titolo {font-size: 20px;}
}